<div class="row clearfix faqs">
				<p><strong>Q. Is the reception on the same day as the wedding?<br />
				</strong><strong>A.</strong>Yes, wedding is in the morning and on the same day evening is the reception.</p>
				<p><strong>Q. Is the reception and wedding at the same place?<br />
				</strong><strong>A.</strong>Yes. The reception and the wedding is at the same place.</p>
				<p><strong>Q. Where do I park?<br />
				</strong><strong>A.</strong>Once you reach the venue. You can ask the security they will direct you to a parking lot.</p>
				<p><strong>Q. What is the nearest landmark?<br />
				</strong><strong>A.</strong> The Hall is right across the street to Vadapalani bus depot.You can also ask for Forum Vijaya Mall. The hall is few blocks away from it.</p>
				<p><strong>Q. Are there public transport available to reach near the venue?<br />
				</strong><strong>A. </strong>Yes. You can take MTC buses to vadapalani bus depot.</p>
				<p><strong>Q. Is the menu pure vegeterian?</strong><br/>
				<strong>A. </strong>Yes. It's a pure vegetarian menu</p>
				<p><strong>Q. How long is the reception?</strong><br />
				<strong>A. </strong>The Reception starts at 6.30 PM and goes on till 10.00 PM </p>
				<p><strong>Q. I have trouble in reaching the venue. Whom should I contact in Groom's Side?</strong><br />
				<strong>A.</strong> You can reach any person from below</p>
				<table border= "1" class="table table-hover">
				<tr><td>Groom</td><td>Srinivas</td><td>+91-9791040003</td></tr>
				<tr><td>Groom's Friend</td><td>Ajay</td><td>+91-9840416222</td></tr>
				</table><br/>
				<p><strong>Q. I have trouble in reaching the venue. Whom should I contact in Bride's Side?</strong><br />
				<strong>A.</strong> You can reach any person from below</p>
				<table border= "1" class="table table-hover">
				<tr><td>Bride's Parent</td><td>Mom</td><td>+91-9884703893</td></tr>
				<tr><td>Bride's Friend</td><td>Thiru</td><td>+91-9789172265</td></tr>
				<tr><td>Bride's Friend</td><td>Hary</td><td>+91-9944656518</td></tr>
				</table>
                                <p><strong>Love our wedding site? Want to make a site for you?<br />
				</strong><strong>Credits goes to Our friend Thiru. Please feel free to contact him or Anjana if you wish to create one for yourself. Thiru Mail id :  <a href="mailto:tamilan.arasu@gmail.com.?Subject=Wedding Site - Anjana's" target="_top" style="color: rgb(241,100,33)">tamilan.arasu@gmail.com</a></p>
				<br><p><strong>More questions? 
				<br>Contact Anjana at <a href="mailto:sk.anjanadevi@gmail.com.?Subject=Wedding Question" target="_top" style="color: rgb(241,100,33)">sk.anjanadevi@gmail.com</a> or Srinivas at <a href="mailto:srinivasramanujam.s@gmail.com.?Subject=Wedding Question" target="_top" style="color: rgb(241,100,33)">srinivasramanujam.s@gmail.com</a>.</strong></p>   
</div>

 