<div class="row clearfix" id="map-canvas">
	<h1>Route Map!</h1>
	<p class="well">Having difficulty in locating the place? Check out the map below. <br>
	<br>Still not sure how to reach? Call any one of us, contact details is available in FAQs section. </p>
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3886.785201132403!2d80.20740515343105!3d13.049340179689304!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5266c3003c786b%3A0x559e6e0be9b6e47c!2sNagi+Reddy+Wedding+Hall!5e0!3m2!1sen!2sin!4v1407602666020" frameborder="0" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:80%;width:80%;position:absolute;" height="80%" width="80%"></iframe>
</div>
  

