	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">	
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="index.html" id="brand-mobile"><span id="bride">A</span>njana <i class="fa fa-heart fa-fw"></i> <span id="groom">S</span>rinivas</a>
			</div>					
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a href="#" id="our-story"><i class="fa fa-book fa-1x fa-fw"></i>&nbsp;Our Story</a>
						</li>
						<li>
							<a href="#" id="the-big-day"><i class="fa fa-bell fa-1x fa-fw"></i>&nbsp;The Big Day</a>
						</li>
						<li>
							<a href="#" id="photos"><i class="fa fa-camera fa-1x fa-fw"></i>&nbsp;Photos</a>
						</li>						
						<li>
							<a href="#" id="registry"><i class="fa fa-gift fa-1x fa-fw"></i>&nbsp;E-Bless Us</a>
						</li>	
						<li class="navbar-header">						
						<a class="navbar-brand" href="index.html" id="brand"><span id="bride">A</span>njana <i class="fa fa-heart fa-fw"></i> <span id="groom">S</span>rinivas</a>		
						</li>
						<li>
							<a href="#" id="getting-there"><i class="fa fa-map-marker fa-1x fa-fw"></i>&nbsp;Getting there</a>
						</li>	
						<li>
							<a href="#" id="request-a-song"><i class="fa fa-music fa-1x fa-fw"></i>&nbsp;Request a Song</a>
						</li>							
						<li>
							<a href="#" id="FAQs"><i class="fa fa-question fa-1x fa-fw"></i>&nbsp;FAQs</a>
						</li>	
					</ul>
				</div>			
			</nav>
		</div>
	</div>
	<script src="js/script.js"></script>	