<div class="row clearfix registry">
	<div class="col-md-12 comments">
	<h1>Leave us a msg!</h1>
	<p class="well">Feel free to share your thoughts and wishes as we prepare to celebrate our special day. </p>	
	<!-- begin htmlcommentbox.com -->
	<div id="HCB_comment_box">Loading comments...</div>
	<link rel="stylesheet" type="text/css" href="//www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
	<script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=(""+window.location).replace(/'/g,"%27") || hcb_user.PAGE, h="//www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&mod=%241%24wq1rdBcg%24pSGFR4VvWVzdnVh8jKQDL."+"&opts=16862&num=10");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
	<!-- end htmlcommentbox.com -->
	</div>
</div>	   
 